<div class="contenedor">
    <div class="login-content">
        <div #login class="login-card animate__animated animate__backInDown" *ngIf="login;else registro">
            <div class="logo">
                <h1>Login</h1>
            </div>
            <div class="formulario">
                <input type="text" class="input-login animate__animated" #usernameLogin id="usernameLoginInput" placeholder="Nombre de Usuario">
                <div class="div-password">
                    <input type="password" class="input-login animate__animated" #passwordLogin id="passwordLoginInput" placeholder="Contraseña">
                    <span class="a-contra">¿Olvidaste la contraseña?<a >Click Aqui</a></span>
                </div>
                <button class="button-login" (click)="logIn()">Iniciar Sesion</button>
            </div>
            <div class="hr-custom">
            </div>
            <div class="registro-content">
                <p>¿Aun no tiene una cuenta?</p>
                <button class="button-login" (click)="showRegistro()">Registrarme</button>
            </div>
        </div>

        <div class="footer-content">
            <div class="footer">
                <!-- <div class="footer-title">
                    <h2>About</h2>
                </div>
                <div class="footer-title">
                    <h2>Tecnologicas usadas</h2>
                </div>
                <div class="footer-title">
                    <h2>Contacto</h2>
                </div> -->

                <div class="footer-section">
                    <h2>About</h2>
                    <p>Proyecto de portafolio para una pagina de juegos.</p>
                </div>
                <div class="footer-section">
                    <h2>Tecnologicas usadas</h2>
                    <p>- Angular Framework</p>
                    <p>- Animate.CSS</p>
                    <p>- Firebase</p>
                </div>
                <div class="footer-section">
                    <h2>Contacto</h2>
                    <p><a href="mailto:fernandez.n.lautaro@gmail.com?Subject=Asunto">Fernandez.n.lautaro@gmail.com</a></p>
                    <p><a href="https://github.com/Lautaro01" target="_blank">Github.com/Lautaro01</a></p>
                    <p><a href="https://www.linkedin.com/in/lautaro-fern%C3%A1ndez/" target="_blank">linkedin.com/lautaro-fernandez</a></p>

                </div>
            </div>
        </div>
        <!-- REGISTRO -->
        <ng-template #registro>
            <div #registroV2 class="register-card animate__animated animate__backInDown">
                <div class="logo">
                    <h1>Registro</h1>
                </div>
                <div class="formulario">
                    <input type="text" class="input-login margenes" #usernameRegister id="usernameRegister" placeholder="Nombre de Usuario">
                    <input type="email" class="input-login margenes" #emailRegister id="emailRegister" placeholder="Correo Electronico">
                    <input type="password" class="input-login margenes" #passwordRegister id="passwordRegister" placeholder="Contraseña">
                    <input type="password" class="input-login margenes" #passwordConfirmRegister id="passwordConfirmRegister" placeholder="Repetir contraseña">
                    <br>
                    <p class="mensajeError">{{mensajeError}}</p>
                    <button class="button-login" (click)="signIn()">Registrarme</button>
                    <a (click)="showRegistro()"> Volver al login </a>
                </div>
            </div>
        </ng-template>

        <!-- LOADING -->
        <div class="spinner-content animate__animated animate__bounceIn" *ngIf="loading">
            <img src="../../assets/loading.gif" alt="" width="200px" height="200px">
            <p>Cargando...</p>
        </div>

        
    </div>

    <div class="free-content">
        <h1 style="font-size: 5rem; text-align: center;">Sala de Juegos</h1>
        <div class="modal-card"  *ngIf="usuarioCreado">
            <h1 style="font-size: 3rem;">¡Cuenta creada con exito!</h1>
            <p>Gracias por registrarte, "{{usuarioCreado}}" ya puedes iniciar sesion</p>
        </div>
    </div>
</div>

