
*{
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #FFFFFF;
    /* font-family: "upheavtt"; */
}

.logo{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contenedor{
    background: url("https://i.imgur.com/KGJ9BBt.gif");
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center center;
    
    height: 100%;
    width: 100%;
    position: fixed;
}

.hr-custom{
    height: 2px;
    display: block; 
    background-color: rgb(224, 224, 224); 
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1{
    font-size: 3em;
}

.login-content{
    width: 800px;
    float: right;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: #181818d8;
    /* box-shadow: -4px 0px 22px 5px #111111; */
}

.login-card{
    background-color: #202020;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 450px;

    border-bottom: 5px solid #1975ff;
    border-right: 5px solid #1975ff;
    border-left: 5px solid #625985;
    border-top: 5px solid  #625985;
}

.register-card{
    /* border-radius: 5px; */
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 650px; */
    width: 450px;

    padding-bottom: 1rem;

    border-top: 5px solid #1975ff;
    border-left: 5px solid #1975ff;
    border-right: 5px solid #625985;
    border-bottom: 5px solid  #625985;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.registro-content{
    text-align: center;
    width: 90%;
}
.margenes{
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
}
.div-password{
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
}

a{
    padding-left: 5px;
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
}

/* INPUTS */

.input-login{
    width: 100%;
    outline: none;
    font-size: 1em;
    border: 3px solid #24106b;
    padding: 5px;
    transition:0.3s;
    letter-spacing: 2px;
    color: #333;
}

.input-login:focus{
    color: white;
    background-color: #402b8b;
    transition:0.5s;
    border-radius: 0px;
}

.button-login{
    padding: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 70%;
    transition: 0.3s;
    background-color: #402b8b;
    
    border-bottom: 5px solid #24106b;
    border-right: 5px solid #24106b;
    border-left: 5px solid #625985;
    border-top: 5px solid  #625985;
}

.button-login:hover{

    transition: 0.5s;
    background-color: #6884b8;
    
    border-bottom: 5px solid #312266;
    border-right: 5px solid #312266;
    border-left: 5px solid #534e68;
    border-top: 5px solid  #534e68;

}

.errorInput{
    outline: none;
    font-size: 1em;
    border: 3px solid #9c0e0e;
    padding: 5px;
    transition:0.3s;
    letter-spacing: 2px;
    background-color: #ff4d4d;
    color: rgb(255, 255, 255);
}

.errorInput::placeholder{
    color: rgb(255, 195, 195);
}

.spinner-content{
    position: absolute;
    text-align: center;
    border-bottom: 5px solid #e9ad2d;
    border-right: 5px solid #e9ad2d;
    border-left: 5px solid #f2ff42;
    border-top: 5px solid   #f2ff42;

    background-color: #1C1B2B;
}

.mensajeError{  
    font-size:16px;
    color: red;
}

.free-content{
    height: 100%;
    /* display: flex; */

    display: grid;


    justify-content: center;
    align-items: center;
}

.modal-card{
    /* display: none; */
    padding: 2rem;

    color: rgb(255, 255, 255);
    text-align: center;

    border-bottom: 5px solid #312266;
    border-right: 5px solid #312266;
    border-left: 5px solid #534e68;
    border-top: 5px solid  #534e68;

    border: 5px solid #7755ff;

    background-color: rgb(41, 41, 41);
}

@media (max-width: 630px) {
    .login-content{
        width: 100%;
        padding: 0;
    }

    .logo{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .login-card{
        height: 100%;
        width: 100%;
    }

    .register-card{
        height: 100%;
    }

    .input-login{
        width: 100%;
    }

    .div-password{
        width: 100%;
    }

    *{
        font-size: 1rem;
    }

    h1{
        font-size: 3rem;
    }

    /* .margenes{
        margin-top: 5%;
    } */
    /* button{
        font-size: 1.2rem;
    } */
}

@media (max-height: 570px){

    h1{
        font-size: 2rem;
    }

    .margenes{
        margin-top: 0;
    }

    *{
        font-size: 0.8rem;
    }
}