/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "upheavtt";
    src: url('../src/assets/Fonts/upheavtt.ttf');
}

*{
    font-family: "upheavtt";
}