/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "upheavtt";
    src: url('./assets/Fonts/upheavtt.ttf');
}

@font-face {
    font-family: "orbitron";
    src: url('./assets/Fonts/Orbitron-VariableFont_wght.ttf');
}

h1,
button{
    font-family: "upheavtt";
}

button{
    letter-spacing: 3px;
}

/* p,
input,
a{
    font-family: "orbitron";
} */

